body {
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    background-color: lightslategray; 
}

.grid-box { 
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

h2 {
    height: 20px;
    position: absolute;
    left: 13%;
    color: ghostwhite; 
}


#grid-container {
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
    display: grid;
    grid-column-start: 1;
    grid-template-rows: repeat(50, 19.2px);
    grid-template-columns: repeat(50, 19.2px);
    width: 960px; 
    height: 960px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
    cursor: crosshair; 
    margin-left: -10%; 
}

.button-container {
    padding-top: 100px;
    height: 960px; 
    width: 320px;
    padding-left: 40px; 
    margin-left: auto;  
    display: block; 
    margin-right: 23%; 
}

.button-space {
    width: 320px; 
    min-height: 150px; 
    text-align: center;
}

#grid-number {
    width: 320px; 
    min-height: 150px; 
    text-align: center;
}


#clear-button {
    font-size: small;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 30px; 
    padding-right: 30px; 
    border-radius: 12px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: beige;
    background-color: darkblue; 
}

.button {
    font-size: small;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 30px; 
    padding-right: 30px; 
    border-radius: 12px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: beige;
    background-color: darkblue; 
}

.error {
    color: red; 
    opacity: 0; 
    transition: 0.3s ease-in;
}

.error.fade{
    opacity: 1; 
}

.color {
    background-color: black;
}

.erase-mode {
    background-color: darkgreen;
    color: whitesmoke; 
}

button {
    border-radius: 25px;
}

.rainbow-mode {
    background-color: darkcyan;
    color: whitesmoke; 
}

.shading-mode {
    background-color: purple;
    color: yellow;
}
